.display-none {
  display: none;
}

.layout-navbar-fixed .wrapper .sidebar-dark-ieaga .brand-link:not([class*="navbar"]) {
  background-color: #343a40;
}

.layout-navbar-fixed .wrapper .sidebar-light-ieaga .brand-link:not([class*="navbar"]) {
  background-color: #ffffff;
}

.layout-sm-navbar-fixed .wrapper .sidebar-dark-ieaga .brand-link:not([class*="navbar"]) {
  background-color: #343a40;
}

.layout-md-navbar-fixed .wrapper .sidebar-dark-ieaga .brand-link:not([class*="navbar"]) {
  background-color: #343a40;
}

.layout-lg-navbar-fixed .wrapper .sidebar-dark-ieaga .brand-link:not([class*="navbar"]) {
  background-color: #343a40;
}

.sidebar-dark-ieaga .nav-sidebar > .nav-item > .nav-link.active,
.sidebar-light-ieaga .nav-sidebar > .nav-item > .nav-link.active {
  background-color: #039452;
  color: #ffffff;
}

.sidebar-dark-ieaga .nav-sidebar.nav-legacy > .nav-item > .nav-link.active,
.sidebar-light-ieaga .nav-sidebar.nav-legacy > .nav-item > .nav-link.active {
  border-color: #039452;
}

.btn.btn-ieaga {
  background-color: #086b44;
  color: #fff;
}

.bg-primary-ieaga {
  background: #039452;
  color: #fff;
}

.bg-secondary-ieaga {
  background: #086b44;
  color: #fff;
}

.card-secondary-ieaga {
  background: #086b44;
}

.btn-primary-ieaga {
  background: #039452;
  color: #fff;
}

.btn-primary-ieaga:hover {
  background: #086b44;
  color: #fff;
}

.btn-secondary-ieaga {
  background: #086b44;
  color: #fff;
}

.folder,
.document {
  cursor: pointer;
}

.document {
  height: 100%;
}

.video {
  width: 100%;
  height: 140px;
  -o-object-fit: cover;
     object-fit: cover;
  cursor: pointer;
}

.card-video {
  padding: 20px;
}

.card-video h5 {
  font-size: 1rem;
}

.info-box-content {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.btn-content {
  margin: 10px;
}

.no-checked {
  display: none;
}

.sub-folders {
  padding-left: 15px;
}

.sub-folder {
  font-weight: 400 !important;
}

.card-body .info-box {
  border: none;
  -webkit-box-shadow: none;
          box-shadow: none;
  margin-bottom: 0;
  min-height: 70px;
  padding: 0;
}

#documentCanvas {
  width: 100%;
  margin: 20px auto;
}

#pdf-box {
  display: none;
}

#pdf-loading {
  display: none;
}

#pdf-loading img {
  margin: 15px auto;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

#pdf-loading p {
  text-align: center;
}

