$primaryIeaga: #039452;
$secondaryIeaga: #086b44;


.display-none {
    display: none;
}

.layout-navbar-fixed .wrapper .sidebar-dark-ieaga .brand-link:not([class*="navbar"]) {
    background-color: #343a40;
}

.layout-navbar-fixed .wrapper .sidebar-light-ieaga .brand-link:not([class*="navbar"]) {
    background-color: #ffffff;
}

.layout-sm-navbar-fixed .wrapper .sidebar-dark-ieaga .brand-link:not([class*="navbar"]) {
    background-color: #343a40;
}

.layout-md-navbar-fixed .wrapper .sidebar-dark-ieaga .brand-link:not([class*="navbar"]) {
    background-color: #343a40;
}

.layout-lg-navbar-fixed .wrapper .sidebar-dark-ieaga .brand-link:not([class*="navbar"]) {
    background-color: #343a40;
}

.sidebar-dark-ieaga .nav-sidebar>.nav-item>.nav-link.active,
.sidebar-light-ieaga .nav-sidebar>.nav-item>.nav-link.active {
    background-color: $primaryIeaga;
    color: #ffffff;
}

.sidebar-dark-ieaga .nav-sidebar.nav-legacy>.nav-item>.nav-link.active,
.sidebar-light-ieaga .nav-sidebar.nav-legacy>.nav-item>.nav-link.active {
    border-color: $primaryIeaga;
}

.btn.btn-ieaga {
    background-color: $secondaryIeaga;
    color: #fff;
}

.bg-primary-ieaga {
    background: $primaryIeaga;
    color: #fff;
}

.bg-secondary-ieaga {
    background: $secondaryIeaga;
    color: #fff;
}


.card-secondary-ieaga {
    background: $secondaryIeaga;
}

.btn-primary-ieaga {
    background: $primaryIeaga;
    color: #fff;

    &:hover {
        background: $secondaryIeaga;
        color: #fff;
    }
}

.btn-secondary-ieaga {
    background: $secondaryIeaga;
    color: #fff;
}

.folder,
.document {
    cursor: pointer;
}

.document {
    height: 100%;
}

.video {
    width: 100%;
    height: 140px;
    object-fit: cover;
    cursor: pointer;
}

.card-video {
    padding: 20px;
}

.card-video h5 {
    font-size: 1rem;
}

.info-box-content {
    display: flex;
    align-items: center;
}

.btn-content {
    margin: 10px;
}

.no-checked {
    display: none;
}

.sub-folders {
    padding-left: 15px;
}

.sub-folder {
    font-weight: 400 !important;
}

.card-body .info-box {
    border: none;
    box-shadow: none;
    margin-bottom: 0;
    min-height: 70px;
    padding: 0;
}

#documentCanvas {
    width: 100%;
    margin: 20px auto;
}

#pdf-box {
    display: none;
}

#pdf-loading {
    display: none;
}

#pdf-loading img {
    margin: 15px auto;
    display: flex;
}

#pdf-loading p {
    text-align: center;
}